<div class="quiz-cont">
  <div class="card-cont">
    <mat-card class="flex flex-col sm:flex sm:flex-row">
      <div class="card-content flex flex-col sm:flex sm:flex-row gap-2">
        <div class="img-cont w-full sm:w-1/2 sm:h-full">
          <img src="/assets/eMailPhone.jpg" class="h-fit" />
        </div>
        <div class="question-cont w-full sm:w-1/2">
          <button
            mat-raised-button
            color="accent"
            class="p-5 mt-2"
            (click)="changeLanguage()"
          >
            {{ !lang ? "English" : "मराठी" }}
          </button>
          <div class="content p-5" *ngIf="isLoaded">
            <div class="flex justify-between">
              <h1 class="p-2 text-center">
                <!-- {{ lang ? getData.qsQuestion.en : getData.qsQuestion.mr }} -->
                <!-- {{
                  lang
                    ? getData.qsQuestion.language
                    : getData.qsQuestion.language
                }} -->

                <!-- {{ getData.qsQuestion.language }}
                 -->

                {{ getData.qsQuestion[language] }}
              </h1>
              <a href="{{ getData.qsDescription }}" target="_blank"
                ><img src="/assets/youtube.png" class="w-24"
              /></a>
              <hr />
            </div>

            <p class="p-2"></p>
            <div>
              <mat-radio-group
                [(ngModel)]="selectedValue"
                ngDefaultControl
                aria-label="Select an option"
                class="flex flex-col gap-2 sm:flex sm:flex-row sm:gap-1"
              >
                <mat-card class="sm:w-1/2">
                  <mat-radio-button
                    value="Yes"
                    class="p-5"
                    (change)="yesRadioChange($event)"
                  >
                    <!-- {{
                      lang ? getData.qsOption1.en : getData.qsOption1.mr
                    }} -->

                    {{ getData.qsOption1[language] }}
                  </mat-radio-button>
                </mat-card>
                <mat-card class="sm:w-1/2">
                  <mat-radio-button
                    value="No"
                    class="p-5"
                    (change)="noRadioChange($event)"
                  >
                    <!-- {{
                      lang ? getData.qsOption2.en : getData.qsOption2.mr
                    }}
                     -->
                    {{ getData.qsOption2[language] }}
                  </mat-radio-button>
                </mat-card>
              </mat-radio-group>
            </div>
            <div class="uplod-img p-5" *ngIf="showUplod">
              <input type="file" (change)="uplodFile($event)" />
              <div
                class="flex justify-center border-2 border-black border-dashed p-5"
                *ngIf="showImage"
              >
                <img
                  [src]="imageUrl"
                  class="w-48 h-44 sm:w-48 sm:h-48 p-5"
                  [(ngModel)]="valueImage"
                  ngDefaultControl
                />
              </div>
            </div>
            <div class="button float-right p-5 mt-10">
              <button
                mat-raised-button
                color="primary"
                (click)="nextQuestion()"
                [disabled]="
                  selectedValue == '' ||
                  (selectedValue == 'Yes' && valueImage == '')
                "
              >
                {{ lang ? "Proceed" : "पुढे" }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

<!-- [disabled]="(!selectedValue && !showUplod) || !valueImage" -->
<!-- [disabled]="(!selectedValue== true && !valueImage==true) || !selectedValue==true" -->
<!-- [disabled]= "((selectedValue == 'Yes' ) && (valueImage == '')) || selectedValue !== 'No' "> -->
